testing_env
.DS_Store

HW02
testing_protocol_hw02.md

HW03
testing_protocol_hw03.md

HW04
config_04.py
testing_protocol_hw04.md

HW05
config_05.py
testing_protocol_hw05.md

HW06
config_06.py
testing_protocol_hw06.md

HW07
config_07.py
testing_protocol_hw07.md

HW08
config_08.py
testing_protocol_hw08.md

HW09
config_09.py
testing_protocol_hw09.md

HW10
config_10.py
testing_protocol_hw10.m

*.pyc
*.pyo
